@inherits LayoutComponentBase

<PageTitle>LoanAmortizationSchedule</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://military.microsoft.com/mssa/" target="_blank">MSSA</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
